{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4 text-center">Calendar Events</h1>

    <div id="calendar"></div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: '/get_events_json'  // Flask endpoint to load events
        });

        calendar.render();
      });
    </script>
{% endblock %}
